<style media="screen">
  .colour-custom {
    background-color: <%= sitecolour %> !important;
  }
</style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark colour-custom">
  <div class="container">
    <a href="/"><img src="<%= weblogo %>" alt="Server Logo" height="50px" draggable="false"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navCollapse">
        <ul class="navbar-nav" id="navCollapse">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/play"><i class="fas fa-play-circle"></i> Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forums"><i class="fas fa-comments"></i> Forums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/guides"><i class="fas fa-book"></i> Guides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events"><i class="fas fa-calendar"></i> Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop"><i class="fas fa-shopping-basket"></i> Shop</a>
          </li>

          <% if (session.playerid) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="staffimg" src="https://crafatar.com/avatars/<%= session.uuid %>?helm" height="20px" draggable="false"> <%= session.username %></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile/<%= session.username %>"><i class="fas fa-user"></i> Profile</a>
                <a class="dropdown-item" href="/edit/profile"><i class="fas fa-user-edit"></i> Edit Profile</a>

                <% if (session.permissions.administrationpanel == true) { %>
                  <a class="dropdown-item" href="/admin/dashboard"><i class="fas fa-users-cog"></i> Dashboard</a>
                <% } %>

                <% if (session.permissions.eventadd == true || session.permissions.eventedit == true || session.permissions.eventremove == true) { %>
                  <a class="dropdown-item" href="/admin/events"><i class="fas fa-calendar"></i> Events</a>
                <% } %>
                  
                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
              </div>
            </li>
          <% } else { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-cog"></i> Account</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                <a class="dropdown-item" href="/register"><i class="fas fa-user-plus"></i> Register</a>
              </div>
            </li>
          <% } %>
        </ul>
    </div>
  </div>
</nav>
