<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<style media="screen">
  span {
    position: relative;
    display: inline-block;
  }
</style>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" style="height:340px; padding:25px;">
    <div class="container text-white">
      <img src="https://crafatar.com/avatars/<%= zanderplayerobjdata.uuid %>?overlay" height="150px" alt="<%= zanderplayerobjdata.username %>'s Player Avatar Head" draggable="false">
      <h3 class="display-4"><span class="badge bg-warning text-dark">Editing</span> <%= zanderplayerobjdata.username %></h3>
    </div>
  </div>

  <div class="alert alert-warning" role="alert">
    Profiles are still a work in progress, if you see something working incorrectly report it to our Developers <a href="/issues">here</a>.
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-6 mb-4">
      <div class="alert alert-primary" role="alert">
        <b>Coming Soon <i class="fas fa-trademark"></i></b><br>Here you should be able to create your own about page and add things, your own creative space!
      </div>
      <p>This is where the users about custom information will go.</p>
    </div>

    <!--
      Information Sidebar
    -->
    <div class="col-lg-4 col-md-6 mb-4">
      <button type="submit" action="/edit/profile" class="btn btn-primary" style="width:100%;">Update Profile</button>
      <br><br>
      <div class="card card-home">
        <div class="card-body">
          <h4 class="card-title">Social Media</h4>
            <table class="table table-borderless">
              <tr>
                <th class="socialmediaicon-profile"><h3><i class="fab fa-twitter"></i></h3></th>
                <th><input type="text" class="form-control" name="socialtwitter" value=""><small>Example: shadowolfyt</small></th>
              </tr>

              <tr>
                <th class="socialmediaicon-profile"><h3><i class="fab fa-twitch"></i></h3></th>
                <th><input type="text" class="form-control" name="socialtwitch" value=""><small>Example: shadowolfyt</small></th>
              </tr>

              <tr>
                <th class="socialmediaicon-profile"><h3><i class="fab fa-youtube"></i></h3></th>
                <th><input type="text" class="form-control" name="socialyoutube" value=""><small>Example: shadowolfyt</small></th>
              </tr>

              <tr>
                <th class="socialmediaicon-profile"><h3><i class="fab fa-instagram"></i></h3></th>
                <th><input type="text" class="form-control" name="socialinstagram" value=""><small>Example: shadowolfyt</small></th>
              </tr>

              <tr>
                <th class="socialmediaicon-profile"><h3><i class="fab fa-steam-symbol"></i></h3></th>
                <th><input type="text" class="form-control" name="socialsteam" value=""><small>Example: shadowolfyt</small></th>
              </tr>

              <tr>
                <th class="socialmediaicon-profile"><h3><i class="fab fa-github"></i></h3></th>
                <th><input type="text" class="form-control" name="socialgithub" value=""><small>Example: benrobson</small></th>
              </tr>

              <tr>
                <th class="socialmediaicon-profile"><h3><i class="fab fa-snapchat-ghost"></i></h3></th>
                <th><input type="text" class="form-control" name="socialsnapshat" value=""><small>Example: shadowolfyt</small></th>
              </tr>

              <tr>
                <th class="socialmediaicon-profile"><h3><i class="fab fa-discord"></i></h3></th>
                <th>shadowolfyt#9212</th>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
